@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Poppins", sans-serif;
}

@layer base {
    @font-face {
        font-family: "Poppins";
        font-weight: 300;
        src: url("/fonts/poppins-light-webfont.woff2") format("woff2"),
        url("/fonts/poppins-light-webfont.woff") format("woff")
    }

    @font-face {
        font-family: "Poppins";
        font-weight: 400;
        src: url("/fonts/poppins-regular-webfont.woff2") format("woff2"),
        url("/fonts/poppins-regular-webfont.woff") format("woff")
    }

    @font-face {
        font-family: "Poppins";
        font-weight: 500;
        src: url("/fonts/poppins-medium-webfont.woff2") format("woff2"),
        url("/fonts/poppins-medium-webfont.woff") format("woff")
    }

    @font-face {
        font-family: "Poppins";
        font-weight: 600;
        src: url("/fonts/poppins-semibold-webfont.woff2") format("woff2"),
        url("/fonts/poppins-semibold-webfont.woff") format("woff")
    }

    @font-face {
        font-family: "Poppins";
        font-weight: 700;
        src: url("/fonts/poppins-bold-webfont.woff2") format("woff2"),
        url("/fonts/poppins-bold-webfont.woff") format("woff")
    }

    @font-face {
        font-family: "Manrope";
        font-weight: 300;
        src: url("/fonts/manrope-variablefont_wght-webfont.woff2") format("woff2"),
        url("/fonts/manrope-variablefont_wght-webfont.woff") format("woff")
    }
}

@layer components {
    .navbar-active #hamburger div:first-child {
        @apply translate-y-1.5 rotate-45;
    }
    .navbar-active #hamburger div:last-child {
        @apply -translate-y-1 -rotate-45;
    }
    .navbar-active #layer {
        @apply origin-top scale-y-100;
    }
    .navbar-active #navlinks {
        @apply visible block scale-100 opacity-100 lg:flex lg:translate-y-0;
    }
}

.st0 {
    @apply fill-secondaryLight;
}
